@font-face {
    font-family: "SFPro";
    src: url("../fonts/SFPro-Light.woff") format("woff");
    font-weight: 200
}

@font-face {
    font-family: "SFPro";
    src: url("../fonts/SFPro-Thin.woff") format("woff");
    font-weight: 300
}

@font-face {
    font-family: "SFPro";
    src: url("../fonts/SFPro-Regular.woff") format("woff");
    font-weight: 400
}

@font-face {
    font-family: "SFPro";
    src: url("../fonts/SFPro-Medium.woff") format("woff");
    font-weight: 500
}

@font-face {
    font-family: "SFPro";
    src: url("../fonts/SFPro-Bold.woff") format("woff");
    font-weight: 700
}