@import url(fonts.css);

* {
    font-family: "SFPro", sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.45);
}

.main-area {
    height: 100vh;
    width: 100vw;
}

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    opacity: 0.38;
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax {
    position: absolute;
    display: flex;
    height: 94vh;
    width: 94vw;
    padding: 3vh 2.2vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.time-piece {
    position: absolute;
    margin: auto;
    vertical-align: middle;
}

#time-text {
    font-size: 145px;
    opacity: 1;
    text-shadow: 0 0 75px rgba(255, 255, 255, 0.4);
}

#time-date {
    font-size: 26px;
    font-weight: 400;
}

#time-date sup {
    font-size: 16px;
    font-weight: 400;
}

.quick-access {
    position: absolute;
    height: 300px;
    width: 32px;
    align-self: flex-start;
    z-index: 51;
    margin: 3vh auto auto 2.2vw;
}

.quick-access .qa-button .qa-icon {
    width: 32px;
    height: 32px;
    background-size: contain;
    margin: 25px 0;
    transition-property: width, height;
    transition-duration: 120ms;
    -moz-transition-property: width, height;
    -moz-transition-duration: 120ms;
    -webkit-transition-property: width, height;
    -webkit-transition-duration: 120ms;
    filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.5));
}

.quick-access .qa-button .qa-icon:hover {
    width: 40px;
    height: 40px;
}

.quick-access .qa-button #reddit {
    margin-top: 3px;
    background-image: url("../images/icons/reddit.png");
}
.quick-access .qa-button #gmail {
    background-image: url("../images/icons/gmail.png");
}
.quick-access .qa-button #gdrive {
    background-image: url("../images/icons/gdrive.png");
}
.quick-access .qa-button #outlook {
    background-image: url("../images/icons/outlook.png");
}
.quick-access .qa-button #youtube {
    background-image: url("../images/icons/youtube.png");
}
.quick-access .qa-button #twitter {
    background-image: url("../images/icons/twitter.png");
}
.quick-access .qa-button #facebook {
    background-image: url("../images/icons/facebook.png");
}
.quick-access .qa-button #steam {
    background-image: url("../images/icons/steam.png");
}

.weather {
    position: absolute;
    align-self: start;
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

    .weather .city {
        padding: 0;
        font-size: 22px;
        font-weight: 200;
    }

    #linebreak {
        font-size: 25px;
        border: 1px solid rgb(0, 0, 0);
        border-top: 0;
        padding: 0;
        margin: 2px 0;
    }

.small {
    font-size: 20px;
    font-weight: 200;
}

.greeting {
    margin: auto auto 5px 0;
}

.greeting p {
    font-size: 23px;
    font-weight: 700;
}

.year-count {
    margin: auto 0 5px auto;
}

.year-count p {
    font-size: 23px;
    font-weight: 400;
}

.year-count b {
    font-size: 23px;
    font-weight: 600;
}

.year-count sup {
    font-size: 13px;
    font-weight: 400;
}

.year-count sup b {
    font-size: 13px;
}

.select-overlay {
    position: fixed;
    z-index: 50;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/overlay.png")
}
