@import url(fonts.css);

* {
    font-family: "SFPro", sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.main-area {
    height: 100vh;
    width: 100vw;
}

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    background-image: none;
    opacity: 0.34;
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax {
    position: absolute;
    display: flex;
    height: 94vh;
    width: 94vw;
    padding: 3vh 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.time-piece {
    position: absolute;
    margin: auto;
    vertical-align: middle;
}

#time-text {
    font-size: 145px;
    text-shadow: 0 0 65px white;
    opacity: 1;
}

#time-date {
    font-size: 26px;
    font-weight: 400;
    text-shadow: 0 0 35px white;
}

#time-date sup {
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 0 35px white;
}

.weather {
    position: absolute;
    align-self: start;
    justify-self: start;
    text-shadow: 0 0 35px white;
}

    .weather .city {
        padding: 0;
        font-size: 22px;
        font-weight: 200;
    }

    #linebreak {
        font-size: 25px;
        padding: 0;
        margin: 2px 0;
    }

.small {
    font-size: 20px;
    font-weight: 200;
}

.credit {
    text-align: right;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 0;
    margin-left: auto;
}

.credit p {
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
}

.credit p b {
    font-size: 15px;
}

.select-overlay {
    position: fixed;
    z-index: 50;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/overlay.png")
}