@import url(../style/fonts.css);

/* Style for /docs */

* {
    font-family: "SFPro", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: justify;
}

img {
    margin: 22px 22px 22px 0;
    display: inline-block;
    border: 2px solid black;
}

p {
    font-size: 22px;
    font-weight: 200;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 45px;
    font-weight: 200;
}

h2 b {
    font-size: 45px;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    font-weight: 200;
}

h3 b {
    font-size: 30px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #250090;
    font-size: inherit;
    font-weight: 400;
}

b {
    font-size: inherit;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin-top: 10px;
    margin-bottom: 18px;
}

.short-hr {
    width: 50%;
    border-bottom: 0;
    margin-top: 7px;
    margin-bottom: 15px;
}

.shorter-hr {
    width: 30%;
    border-bottom: 0;
}

#opacity-02 {
    opacity: 0.2 !important;
}

.content {
    overflow: auto;
    text-shadow: initial;
}

.header {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-content:center;
    background-color: rgba(200, 200, 200, 0.3);
}
.header .logo-text {
    font-size: 60px;
    letter-spacing: 45px;
    font-weight: 200;
    margin: auto;
    padding-bottom: 15px;
    padding-left: 25px;
}
.header .logo-text b {
    font-size: 75px;
    font-weight: 700;
}

.time {
    position: fixed;
    left: 25px;
    top: 25px;
    z-index: 20;
}
.time #time-text {
    font-size: 25px;
    font-weight: 600;
    opacity: 0.7;
}

.return-to-top {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: auto 4% 22px auto;
    transition-property: padding-bottom;
    transition-duration: 100ms;
}

.return-to-top:hover {
    padding-bottom: 5px;
}

#rtt {
    font-size: 25px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
}

#rtt:hover {
    text-decoration: underline;
}

.nav-bar {
    width: 100%;
    height: 48px;
    background-color: rgba(50, 50, 50, 0.75);
    display: flex;
    align-content: center;
}

.nav-bar .links {
    height: 48px;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-bar .links a {
    font-size: 20px;
    color: white;
    text-align: center;
    margin: auto;
    letter-spacing: 3px;
    text-decoration: none;
    transition-property: font-size;
    transition-duration: 125ms;
}

.nav-bar .links a:hover {
    font-size: 23px;
}

.main-content-area {
    margin: 0 auto;
    height: auto;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.5);
}

.main-content {
    padding: 25px 35px;
    height: auto;
}

.directory-box {
    width: 60%;
    height: auto;
    overflow: auto;
    background-color: rgba(195, 195, 195, 0.3);
    margin: 20px 0;
}

.directory {
    padding: 12px 24px 24px 24px;
}

.directory a {
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #250090;
    letter-spacing: 2px;
    transition-property: text-decoration, letter-spacing;
    transition-duration: 100ms;
    margin: 18px 0 0 0;
}

.directory a:hover {
    text-decoration: underline;
    letter-spacing: 3px;
}

.directory a p {
    font-size: 20px;
}

.directory .level-2-dir {
    margin: 8px 0 0 55px;
}

.directory .level-2-dir p {
    font-size: 17px;
    font-weight: 200;
}

.directory .level-3-dir {
    margin: 5px 0 0 110px;
}

.directory .level-3-dir p {
    font-size: 13px;
    font-weight: 200;
}

.level-3-info {
    margin-left: 50px;
}

.linkbox {
    border-radius: 8px;
    border: 1px solid #222222;
    background-color: rgba(100, 100, 100, 0.15);
    width: auto;
    margin: 10px 0;
    transition-property: background-color;
    transition-duration: 100ms;
}

.linkbox:hover {
    background-color: rgba(100, 100, 100, 0.23)
}

.linkbox p {
    display: block;
    padding: 10px 16px;
    font-size: 16px;
    font-family: "Courier New", monospace;
    width: auto;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    opacity: 0.2;
    background-size: cover;
    background-repeat: no-repeat;

}
